importlib_resources==6.5.2

aenum
dask==2024.12.1
cdsapi==0.6.1
dataclasses-json
datashader
docopt
eoreader==0.21.4
fiona==1.10.1
gdal
geopandas
geotiff==1.7.4
GRSdriver==1.0.5
jupyterlab
libgdal-jp2openjpeg
lightgbm
marshmallow
oauthlib
panel
psutil
holoviews==1.19.1
matplotlib
netCDF4==1.6.5
numba
numpy==1.25.2
pandas
pyproj
pystac
PyYAML==6.0.2
rasterio==1.4.3
requests-oauthlib
rioxarray==0.15.0
scikit-learn
scipy
sentinelhub==3.11.5
sertit
setuptools==80.9.0
shapely
tifffile
tomli
xarray==2024.9.0
xmltodict
